.colorSection{
  background-size: 30rem;
  margin-bottom: 5.6rem;
  @include mod('graphDesign'){
    background-color: $graph-color;
  }
  @include mod('uxArch'){
    background-color: $ux-color;
  }
  @include mod('uxuiDesign'){
    background-color: $uxui-color;
  }
  @include el("content"){
    width: 62%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
    display: flex;
    @media screen and (max-width: 980px) {
      width: 80%;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 400px){
      width: 90%;
    }
  }
  @include el('title'){
    @include fontMix($LatoLight,0.9rem, normal, #E5E8FC);
    text-transform: uppercase;
    padding-bottom: 1.2rem;
  }
  @include el('description'){
    padding-right: 2rem;
    @include fontMix($Merriweather-regular, 1.125rem, normal, white);
    @media screen and (max-width: 800px) {
      padding-right: 0;
    }
  }
  @include el('img'){
    max-width:100%;
  }
  @include el('contentBlock'){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    @include mod('img'){
      background-repeat: no-repeat;
      background-position: right;
      @media screen and (max-width: 800px) {
        margin-bottom:2rem;
      }
      img{
        max-width:60%;
        transform: scale(1.54);
        position: relative;
        left: 20%;
        @media screen and (max-width: 800px) {
          max-width:100%;
          transform: scale(1);
          left: 0%;
        }
      }
      @media screen and (max-width: 800px) {
        background-position: center;
      }
    }
  }
}