.colorSection{
  background-color: #3F51B5;
  background-size: 30rem;
  margin-bottom: 5.6rem;
  @include el("content"){
    width: 62%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    @media screen and (max-width: 980px) {
      width: 80%;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }
  }
  @include el('title'){
    @include fontMix($LatoLight,0.9rem, normal, #E5E8FC);
    text-transform: uppercase;
    padding-bottom: 1.2rem;
  }
  @include el('description'){
    @include fontMix($Merriweather-regular, 1.125rem, normal, white);
    @media screen and (max-width: 800px) {
      padding-right: 0%;
    }
  }
  @include el('img'){
    max-width:100%;
  }
  @include el('contentBlock'){
    padding: 5.3rem 0rem;
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    @include mod('img'){
      background-image: url('../img/group-single.png'); background-size: contain;
      background-repeat: no-repeat;
      transform: scale(1.16);
      background-position: right;
    }
  }
}