.mainFooter{
  @include el('top'){
    display: flex;
    justify-content: space-between;
    padding-top:2.5rem;
    border-bottom: solid 2px $Light-gray;
  }
    @include el('logo'){
      padding-bottom:2.2rem;
    }
    @include el('logSvg'){
    width: 13rem;
  }
    @include el('navigation'){
    list-style: none;
    display: flex;
    padding-left:0;
    margin-top: 0;
  }
    @include el('navItem'){
    margin-right: 3.2rem;
    &:last-child{
      margin-right:0;
    }
    a{
      @include font($Main-Font, 1.3rem, 300, $Dark-gray);
      text-decoration: none;
      &:hover{
        color: $Rose;
      }
    }
  }

  @include el('bottom'){
    display: flex;
    justify-content: space-between;
  }
    @include el('copyright'){
    @include font($Main-Font, 1rem, 300, $Gray);
    margin-top:1.7rem;
    letter-spacing: 0.2px;
  }
    @include el('socialList'){
      list-style: none;
      padding-left:0;
      display: flex;
      margin-top:1.5rem;
    }
    @include el('socialLink'){
      margin-right: 0.7rem;
      &:hover a svg g{
        fill: $Rose;
      }
      &:last-child{
        margin-right:0;
      }
      a svg{
        width: 1.7rem;
      }
    }
}