 //Colors
 $Dark-blue: #494C62;

 //Font-Family
 $Main-Font: 'Lato', sans-serif;

 @mixin fon($family-type, $size: 1rem, $weight : normal, $color :  #ccc){
   font: {
     family: $family-type;
     size: $size;
     weight: $weight;
   }
   color: $color;
 }

 @mixin el($element){
   &__#{$element}{
     @content;
   }
 }

 @mixin mod($modifier){
   &--#{$modifier}{
     @content;
   }
 }
