@include breakpoint(max-width 768px){
  .mainFooter{
    @include el('logo'){
      text-align: center;
    }
    @include el('top'){
      flex-direction: column;
    }
    @include el('navigation'){
      justify-content: center;
    }
    @include el('bottom'){
      flex-direction: column;
    }
    @include el('socialList'){
      order: 1;
      justify-content: center;
    }
    @include el('socialLink'){
      a svg{
        width: 2.2rem;
      }
    }
    @include el('copyright'){
      order: 2;
      text-align: center;
    }
    @include el('copyright'){
      margin-top:0;
      font-size:0.9rem;
    }
  }
}
@include breakpoint(max-width 500px){
  .mainFooter{
    @include el('navigation'){
      justify-content: space-between;
    }
    @include el('navItem'){
      margin-right:0;
    }
  }
}