.wrapper{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 65% 35%;
  height: 100vh;
  @media all and (max-aspect-ratio: 3.999/3){
    grid-template-columns: 100%;
    height: auto;
  }
  @media screen and (max-width: 768px){
    grid-template-columns: 100%;
    height: auto;
  }
}

.designSphere{
  color: white;
  padding: 2.1rem 30% 2.1rem 12.3%;
  @media screen and (max-width: 768px){
    padding: 2.1rem 10% 2.1rem 12.3%;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 39%;
  background-size: 60%;
  @media screen and (max-width: 768px){
    height: 100vh;
  }
  @media all and (max-aspect-ratio: 3.99/3){
    height: 100vh;
  }

  //mobile portrait
  @media screen and (orientation: portrait) and (max-width: 414px){
    background-position-y: 25%;
    background-size: 80%;
    padding: 2rem;
  }
  //mobile landscape
  @media screen and (orientation: landscape) and (max-height: 420px){
    justify-content: center;
    padding: 0 50% 0 2rem;
    background-position-y: center;
    background-position-x: 90%;
    background-size: 40%;
  }

  @include mod("small"){
    font-size: 0.8rem;
    padding: 1rem 8%;
    @media all and (max-aspect-ratio: 4/3){
      font-size: 1rem;
      padding: 2.1rem 30% 2.1rem 12.3%;
    }
    @media screen and (max-width: 768px){
      font-size: 1rem;
      padding: 2.1rem 10% 2.1rem 12.3%;
    }
    @media screen and (orientation: portrait) and (max-width: 414px){
      padding: 2rem;
    }
    @media screen and (orientation: landscape) and (max-width: 1024px) and (min-height: 421px) {
      font-size: 0.75rem;
      padding: 0.6rem 8%;
    }
    @media screen and (orientation: landscape) and (max-height: 420px){
      padding: 0 50% 0 2rem;
      background-position-x: 90%;
      background-position-y: center;
      background-size: 40%;
    }

  }
  @include mod("architect"){
    background-image: url("../img/group.png");
    background-color: #3F51B5;
    grid-row: span 2;
  }
  @include mod("uiux"){
    background-image: url("../img/group2.png");
    background-color: #162784;
  }
  @include mod("graphic"){
    background-image: url("../img/group3.png");
    background-color: #071147;
  }
  @include el("markLead"){
    @include fontMix($Main-Font, 0.65em, 700, white);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 2.4rem;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 1.3rem;
      left: 0rem;
      width: 0.8rem;
      height: 0.1rem;
      background-color: white;
    }
  }

  @include el("title"){
    @include fontMix($Main-Font, 2em, 900, white);
    padding-bottom: 0.9rem;
  }
  @include el("description"){
    @include fontMix($Secondary-Font, 1em, 300, white);
    line-height: 1.6rem;
  }
}