.header{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
  transition: all 0.25s ease-out;
  @include mod('white'){
    background-color: white;
  }
  @include mod('black'){
    background-color: rgba(0,0,0,.6);
  }
  @include mod('border'){
    border-bottom: solid 1px #dcdcdc ;
  }
  @include el('logotype'){
    width: 30%;
  }
  @include el('socialList'){
    position: relative;
    top: 5px;
    margin:0;
    padding: 0;
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

    @include el('list'){
      margin: 0rem 0.7rem;
    }
    @include el('img'){
      width: 1rem;
      height: 1rem;
      max-width: 100%;
      opacity: 0.6;
      transition: all 0.25s ease-out;
      &:hover{
        opacity: 1;
        transform: scale(1.5);
      }
    }
}